/* =======Google Fonts ========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;200;400&family=Raleway:wght@200;300;400;500;700;800;900&display=swap");

/* =======Bootstrap Icons =====*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  text-align: center;
}

h1,
.hone {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
p {
  font-family: "Raleway";
  text-align: justify;
  font-weight: 300;
  font-size: 17px;
}

.bluec {
  color: #101c7c;
}
.blueb {
  background-color: #101c7c;
}

nav {
  padding: 8px 15px;
  min-height: 75px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
 
}
nav .navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
nav #navbarText ul li a {
  padding: 4px 8px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
nav #navbarText ul li a.active {
  /* border-bottom: 1px solid rgb(197, 195, 195); */
  background: rgba(224, 218, 218, 0.4);
  font-weight: 500;
}
nav #navbarText ul li a:hover,
nav #navbarText ul li i:hover {
  /* padding: 2px 4px; */
  font-weight: 200;
  background: rgba(224, 218, 218, 0.4);
}

@media (max-width: 768px) {
  nav #navbarText ul li a.active {
    border-bottom: 0px solid gray;
    background: none;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

.hero {
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

.hero .carousel-inner img {
  max-height: 90vh;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 9s;
}

.sect1 {
  width: 65vw;
}

@media (max-width: 576px) {
  .sect1 {
    width: 85vw;
    font-size: 18px;
  }
}

.onefam {
  height: 50vh;
}

.mnv {
  min-height: 10vh;
  overflow: hidden;
}
.imnv {
  width: 55vw;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #101c7c;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #101c7c;
  border-right: 0.125rem solid #101c7c;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #101c7c;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #101c7c;
}

.btn-outline-primary {
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 7px 12px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: #101c7c;
}
.btn-outline-primary:hover {
  background: #101c7c;
}

/* Our Leaders=========== */

figure.snip0069 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  text-align: center;
  border: 2px solid #101c7c;
}
figure.snip0069 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0069 > .image {
  display: block;
  position: relative;
  padding: 15px 0;
}
figure.snip0069 > .image img {
  width: 70%;
  border-radius: 50%;
}
figure.snip0069 > .image:before {
  position: absolute;
  bottom: 0;
  content: "";
  background: #ffffff;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}
figure.snip0069 figcaption {
  position: relative;
  background: #ffffff;
}
figure.snip0069 figcaption:before {
  position: absolute;
  width: 100%;
  background: #000000;
  height: 0px;
  bottom: 0;
  display: block;
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
figure.snip0069 h3,
figure.snip0069 p {
  margin: 0;
  display: inline-block;
  width: 100%;
}
figure.snip0069 h3 {
  padding: 10px 15px;
  background: #333333;
  text-transform: uppercase;
}
figure.snip0069 p {
  font-size: 0.9em;
  font-weight: 500;
  background: #ffffff;
  color: #4d4d4d;
  padding: 20px 40px 30px;
}
figure.snip0069 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0069.blue h3,
figure.snip0069.blue figcaption:before {
  background: #101c7c;
}
figure.snip0069.red h3,
figure.snip0069.red figcaption:before {
  background: #c0392b;
}
figure.snip0069.yellow h3,
figure.snip0069.yellow figcaption:before {
  background: #e67e22;
}
figure.snip0069.navy h3,
figure.snip0069.navy figcaption:before {
  background: #34495e;
}
figure.snip0069:hover figcaption:before,
figure.snip0069.hover figcaption:before {
  height: 10px;
}

.dc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
}

/*============ANTHEM============== */
.anthem {
  min-height: 45vh;
}

#audio-box {
  box-shadow: 2px 2px 2px 5px rgba(255, 255, 255, 0.9);
  color: #ffffff;
  /* position: absolute; */
  width: 100%;
  /* top: 50%;
  left: 50%; */
  padding: 1em;
}

.anthem pre{
  color: #ffffff;
  text-align: left;
  padding: 3px 5px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 15px;
}
#controls-wrapper {
  text-align: justify;
  user-select: none;
}
#rw,
#ff,
#playy {
  cursor: pointer;
  user-select: none;
}
#time-wrapper {
  text-align: justify;
}
#time-wrapper:after {
  content: "";
  display: inline-block;
  width: 100%;
}
input[type="range"] {
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 80%;
  height: 0.4em;
  cursor: pointer;
  background: #fefefe;
  border-radius: 0;
  border: #856aff solid 2px;
}
input[type="range"]::-webkit-slider-thumb {
  border: #f50039 solid 1px;
  height: 2em;
  width: 16px;
  border-radius: 3px;
  background: #f50039;
  cursor: pointer;
  margin-top: -0.5em;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #23b26d;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1em;
  cursor: pointer;
  background: #23b26d;
  border-radius: 0;
  border: #23b26d solid 1px;
}
input[type="range"]::-moz-range-thumb {
  border: #f50039 solid 1px;
  height: 2em;
  width: 16px;
  border-radius: 3px;
  background: #f50039;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 1em;
  cursor: pointer;
  background: #23b26d;
  border-radius: 0;
  border: #23b26d solid 1px;
}
input[type="range"]::-ms-fill-lower {
  background: #101c7c;
  border: #010101 solid 0.2px;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #101c7c;
  border: #010101 solid 0.2px;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  border: #f50039 solid 1px;
  height: 2em;
  width: 16px;
  border-radius: 3px;
  background: #f50039;
  cursor: pointer;
  margin-top: -0.5em;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
#bars-box {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  transition: 2s;
}
.bar {
  /* position: absolute; */
  bottom: 0;
  width: 20%;
  height: 50%;
  animation-name: beat;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
#bars-box.active {
  opacity: 1;
  height: 100%;
}
.bar:nth-child(odd) {
  background-color: green;
}
.bar:nth-child(even) {
  background-color: red;
}
@keyframes beat {
  0% {
    background-color: red;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}
@media (max-width: 775px) {
  #audio-box {
    width: 100%;
    padding: 1.5em;
  }
  .stanza{
    flex-direction: column;
  }
  .anthem h3{
    text-align: left;
  }
}


/*============EVENT============== */
.event {
  min-height: 45vh;
}
.event-list {
  list-style: none;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}
.event-list > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}
.event-list > li > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
  background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li > img {
  width: 100%;
}
.event-list > li > .info {
  padding-top: 5px;
  text-align: center;
}
.event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 90%;
  text-align: center;
}
.event-list > li > .social > ul {
  margin: 0px;
  width: 100%;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.event-list > li > .info > ul > li > i {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
.event-list > li > .social > ul > li {
  padding: 0px;
}
.event-list > li > .social > ul > li > i {
  padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}
.facebook i,
.twitter i,
.google-plus i {
  display: block;
  width: 100%;
  color: rgb(75, 110, 168) !important;
}

.twitter i {
  color: rgb(79, 213, 248) !important;
}

.facebook i {
  color: rgb(19, 113, 137) !important;
}

.google-plus i {
  color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(75, 110, 168) !important;
}
.twitter:hover i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .event-list > li > time,
  .event-list > li > img {
    display: inline-block;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }
  .event-list > li > .info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .event-list > li > .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }
  .event-list > li > .social > ul {
    border-left: 1px solid rgb(230, 230, 230);
  }
  .event-list > li > .social > ul > li {
    display: block;
    padding: 0px;
  }
  .event-list > li > .social > ul > li > i {
    display: block;
    width: 40px;
    padding: 5px 0px 4px;
  }
}

.event-container {
  flex-wrap: wrap;
}

.flex-item-one {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 15%;
}

.flex-item-two {
  flex: 15%;
}
.flex-item-two > img {
  width: max-content;
}

.flex-item-three {
  background-color: green;
  padding: 10px;
  flex: 55%;
}

.flex-item-four {
  background-color: gray;
  padding: 10px;
  flex: 15%;
}

@media (max-width: 800px) {
  .flex-item-one,
  .flex-item-two,
  .flex-item-three,
  .flex-item-four {
    flex: 100%;
  }
  /* .flex-item-two > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  } */
}

.upcoming-events {
  min-height: 20vh;
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.event--date {
  min-height: inherit;
  padding: 0;
  text-align: center;
  /* background-color: rgb(197, 44, 102); */
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.dayy {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.monthh {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.edetails {
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 700;
}
.title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}

/* ============Our Service Program Section============ */
[data-toggle="collapse"] i:before {
  content: "\f068";
}
[data-toggle="collapse"].collapsed i:before {
  content: "\f067";
}
#accordion .card-header {
  margin-bottom: 8px;
}
#accordion .accordion-title {
  position: relative;
  display: block;
  padding: 8px 0 8px 50px;
  background: #213744;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  transition: all 0.4s ease-in-out;
}
#accordion .accordion-title i {
  position: absolute;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  background: radial-gradient(rgba(33, 55, 68, 0.8), #213744);
  text-align: center;
  border-right: 1px solid transparent;
}
#accordion .accordion-title:hover {
  padding-left: 60px;
  background: #213744;
  color: #fff;
}
#accordion .accordion-title:hover i {
  border-right: 1px solid #fff;
}
#accordion .accordion-body {
  padding: 20px 35px;
}
#accordion .accordion-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#accordion .accordion-body li {
  padding-left: 1.2rem;
  text-indent: -1.2rem;
}
#accordion .accordion-body li:before {
  content: "\f10a";
  padding-right: 5px;
  font-family: "Flaticon";
  font-size: 16px;
  font-style: normal;
  color: #213744;
}

/* ===================Programe Cards========== */
.pcard img {
  height: 150px;
  width: 100%;
}

.pcard [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
}
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 3px #101c7c;
}
.card-text {
  height: 80px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

/* ========Contact Us and Google Formm Sections========== */
.contact--us {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/churchcong.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact--us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(16, 28, 124, 0.9);
}

.csection {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ccontainer {
  /* max-width: 1080px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.section-header p {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 35px;
  line-height: 70px;
  color: #101c7c;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #fff;
  font-size: 1.4em;
  margin-bottom: 5px;
  text-align: left;
}

.contact-info-content p {
  color: #fff;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #101c7c;
  font-family: "Raleway";
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: #101c7c;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #101c7c;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #101c7c;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #fff;
  color: #101c7c;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}

/* ===============Google Map==================  */

.map_sec {
  padding: 50px 0px;
}
.map_inner h4,
.map_inner p {
  color: #000;
  text-align: center;
}
.map_inner p {
  font-size: 13px;
}
.map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}

/* =====================Social Media ==============*/
.social--media {
  min-height: 30vh;
  box-sizing: border-box;
}

.social--container {
  transform: rotate(-25deg) skew(25deg);
}
.socialmbtn {
  height: 6rem;
  width: 6rem;
  margin-right: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.socialmbtn:nth-child(1):hover span {
  background-color: #4267b2;
}
.socialmbtn:nth-child(2):hover span {
  background-color: #c13584;
}
.socialmbtn:nth-child(3):hover span {
  background-color: #1da1f2;
}
.socialmbtn:nth-child(4):hover span {
  background-color: #f00;
}
.socialmbtn span {
  width: 100%;
  height: 100%;
  background-color: #101c7c;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  color: #fff;
  border: 1px solid #666;
}
.socialmbtn:hover span:nth-child(5) {
  transform: translate(4rem, -4rem);
  opacity: 0.9;
}
.socialmbtn:hover span:nth-child(4) {
  transform: translate(3rem, -3rem);
  opacity: 0.7;
}
.socialmbtn:hover span:nth-child(3) {
  transform: translate(2rem, -2rem);
  opacity: 0.6;
}
.socialmbtn:hover span:nth-child(3) {
  transform: translate(1rem, -1rem);
  opacity: 0.5;
}
.socialmbtn:hover span:nth-child(2) {
  transform: translate(2rem, -2rem);
  opacity: 0.4;
}
.socialmbtn:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 1;
}
.socialmbtn::before {
  content: "";
  width: 100%;
  height: 1rem;
  background-color: #4267b2;
  position: absolute;
  bottom: -1rem;
  transform: skewX(-45deg);
  transform-origin: top;
}
.socialmbtn::after {
  content: "";
  width: 1rem;
  height: 100%;
  left: -1rem;
  bottom: 0;
  background-color: #1da1f2;
  position: absolute;
  transform: skewY(-45deg);
  transform-origin: right;
}
.social--media .bi {
  font-size: 3rem;
}

@media (max-width: 700px) {
  .social--media .bi {
    font-size: 1.5rem;
  }
}


/* ============== Footer Sections ================*/

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: 1px;
  margin-left: -20px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
footer.nb-footer {
  background: #222;
  border-top: 2px solid #101c7c;
}
footer.nb-footer .footer-about {
  margin: 0 auto;
  margin-top: 15px;
  max-width: 1170px;
  text-align: center;
}
footer.nb-footer .footer-about p {
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
}
footer.nb-footer .footer-about .social-media {
  margin-top: 4px;
}
footer.nb-footer .footer-about .social-media ul li {
  display: inline;
}
footer.nb-footer .footer-about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
footer.nb-footer .footer-about .social-media ul li a:hover {
  background: rgba(224, 218, 218, 0.4);
  color: #fff;
  border-color: rgba(224, 218, 218, 0.9);
}
footer.nb-footer .footer-info-single {
  margin-top: 30px;
}
footer.nb-footer .footer-info-single .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #101c7c;
  padding-left: 5px;
  text-align: left;
}
footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #999;
  padding: 2px 0;
}
footer.nb-footer .footer-info-single ul li a:hover {
  color: #fff;
}
footer.nb-footer .footer-info-single p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999;
}
footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}
