/* =======Google Fonts ========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;200;400&family=Raleway:wght@200;300;400;500;700;800;900&display=swap");

/* =======Bootstrap Icons =====*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; 
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway";
  text-align: center;
}

.hone {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
p {
  font-family: "Raleway";
  text-align: justify;
  font-weight: 300;
  font-size: 17px;
}

.bluec {
  color: #101c7c;
}
.blueb {
  background-color: #101c7c;
}

/* App.css */

/* Set the background color and text color of the nav */
.custom-nav {
  color: #343a40;
  min-height: 75px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

/* Set the background color and text color of the nav links */
.custom-link {
  padding: 4px 8px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/* Set the background color and text color of the active nav link */
.custom-link.active {
  background-color: #343a40;
  color: #f8f9fa;
}

/* Set the hover background color and text color of the nav links */
.custom-link:hover {
  background-color: #e9ecef;
  color: #343a40;
}

/* Set the background color and text color of the nav dropdown */
.custom-dropdown {
  background-color: #f8f9fa;
  color: #343a40;
}

.navbar-toggler {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-brand {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 75px;
  margin-right: 120px;
}

@media (max-width: 800px) {
  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #101c7c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fadeInOut;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Carousel Sections */

.carouselImage{
    height: auto;
    max-height: 90vh;
    padding: 2px;
}
.carousel {
    margin-top: 2px;
    margin-bottom: 5px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #101c7c;
    height: 50px;
    width: 50px;
    outline: none;
    margin-top: -25px;
    display: none;
  }
  
  .carousel-control-prev-icon:before,
  .carousel-control-next-icon:before {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
 
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin-bottom: 3%;
    text-align: center;
    
  }
 
  @media (max-width: 800px) {
    .carousel-caption p{
        display: none;
    }
    .carousel-caption{
        width: 95%;
    }
  }
  
  .carousel-caption h3,
  .carousel-caption p {
    color: #fff;
    margin: 0;
    padding: 5px;
  }
  
  .carousel-caption h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 20px;
  }
  


  /* Custom fade transition */
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    opacity: 0;
  }
  
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
  }
  
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
  }
  
  .carousel-fade .carousel-control-prev,
  .carousel-fade .carousel-control-next {
    z-index: 999;
  }


.hero {
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
  }
  

  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  
  .carousel-inner .carousel-item > img {
    -webkit-animation: zoom 20s;
    animation: zoom 9s;
  }
  